<div class="container">
        <div class="row">
            <div class="col-12 recent-posts-bar">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Recent Posts</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!-- Post 1 -->
            <div class="col-12 col-md-8">
                <div class="post-1"
                    style="background-image: linear-gradient(hsla(228, 6%, 16%, 0.3),70%,#26272B), url(Images/ok.jpg);">
                    <p class="index-head">Recent Posts</p>
                    <p class="badge">Travel</p>
                    <div class="index-content">
                        <div class="index-title">Satya Nadella Among 9 American CEOs To Meet President-Elect Joe Biden</div>
                        <hr>
                        <div class="index-caption">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
                            corporis dignissimos. Animi, ipsa consequuntur repudiandaeLorem, ipsum dolor sit amet
                            consectetur adiisicing elit. </div>
                    </div>
                </div>
                <br>
            </div>
            <!------------------------------------------------------------->
            <div class="col-12 col-md-4">
                <div class="dummy-box" style="background-color: rgb(255, 255, 255);"><br></div>
            </div>
            
            <div class="col-12 col-md-4">
                <div class="post-4"
                    style="background-image: linear-gradient(hsla(228, 6%, 16%, 0.3),70%,#26272B), url(Images/go.jpg);">
                    <p class="badge">Politics</p>
                    <div class="index-content">
                        <div class="index-title">Sonu Sood Appointed As State Icon Of Punjab By Election Commission</div>
                        <hr>
                        <div class="index-caption">tetur adipisicing elit. Temporibus,
                            corporis dignissimos. Animi, ipsa consequuntur repudiandaeLorem, ipsum dolor sit amet
                            consectetur adipisicing elit. </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-12 col-md-4">
                <div class="post-5"
                    style="background-image: linear-gradient(hsla(228, 6%, 16%, 0.3),70%,#26272B), url(Images/Hai.jpg);">
                    <p class="badge">Entertainment</p>
                    <div class="index-content">
                        <div class="index-title">Congress Leader Alleges Overcharging By Air India On Vande Bharat Flights</div>
                        <hr>
                        <div class="index-caption">Lorem, ipsum dolor sit daeLorem, ipsum dolor sit amet consectetur
                            adipisicing elit. </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-12 col-md-4">
                <div class="post-6"
                    style="background-image: linear-gradient(hsla(228, 6%, 16%, 0.3),70%,#26272B), url(Images/no.jpg);">
                    <p class="badge">Cinema</p>
                    <div class="index-content">
                        <div class="index-title">With Covid Caution, Karnataka Colleges Gear Up For Reopening</div>
                        <hr>
                        <div class="index-caption">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
                            corporis dignissimos. Animi, ipsa consequuntur repudiandaeLorem, ipsum dolor sit amet
                            consectetur adipisicing elit. </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-12 col-md-6">
                <div class="post-2"
                    style="background-image: linear-gradient(hsla(228, 6%, 16%, 0.3),70%,#26272B), url(Images/bye.jpg);">
                    <p class="badge">Category</p>
                    <div class="index-content">
                        <div class="index-title">Delhi Reports 3,797 Covid Cases In 24 Hours, Number Of Tests Below 30K</div>
                        <hr>
                        <div class="index-caption">Lorisicing elit. Temporibus,
                            corporis dignissimos. Animi, ipsa consequuntur repudiandaeLorem, ipsum dolor sit amet
                            consectetur adipisicing elit. </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-12 col-md-6">
                <div class="post-3"
                    style="background-image: linear-gradient(hsla(228, 6%, 16%, 0.3),70%,#26272B), url(Images/come.jpg);">
                    <p class="badge">Books</p>
                    <div class="index-content">
                        <div class="index-title">ICC Chairman's Election Could See Three Rounds Of Voting: Report</div>
                        <hr>
                        <div class="index-caption">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
                            corporis dignissimos. Animi, ipsa conseicing elit. </div>
                    </div>
                </div>
                <br>
            </div>
            <!------------------------------------------------------------->
        </div>
    </div>