<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a href="/" class="ml-auto"><img src="/Images/Omar.png" alt="Omar" class="img-fluid brand-image"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link " href="/">Home</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{#each categories}}
              <a class="dropdown-item" href="/category?id={{this._id}}">{{this.category}}</a>
              {{/each}}
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section>
    <img class="image-fluid main-bg1" src="images/01.png" alt="image">
    <img class="image-fluid main-bg2" src="images/0.png" alt="image">
    <div class="container">
      <ul class="nav">
        {{#each categories}}
        <li class="nav-item">
          <a class="nav-link active" href="/category?id={{this._id}}">{{this.category}}</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </section>
  <br>
</header>